{% extends "base.html" %}

{% block title %}Hasil Analisis LDA{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Hasil Analisis LDA</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kata Kunci: {{ keyword }}</h5>
                    <p class="card-text">Hasil analisis LDA untuk kata kunci "{{ keyword }}" dengan Coherence Score sebesar {{ hasil_lda.coherence_score }} dan nilai perplexity sebesar {{hasil_lda.perplexity}}</p>
                    <hr>
                    <h5 class="card-title">Topik yang Ditemukan</h5>
                    <div class="alert alert-info">
                        <p>{{ hasil_lda.hasil | linebreaks }}</p>
                    </div>
                    <hr>
                    <h5 class="card-title">Analisis</h5>
                    <div class="alert alert-success">
                        {{ hasil_lda.analisis | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Data Berita</h5>
                    <div class="table-responsive">
                        <table id="Tablenews" class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-start">No</th>
                                    <th class="text-start">Judul Berita</th>
                                    <th class="text-start">Url</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for berita in data_berita %}
                                <tr>
                                    <td></td>
                                    <td>{{ berita.judul }}</td>
                                    <td><a href="{{ berita.url }}" target="_blank" rel="noopener noreferrer">{{ berita.url }}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        var t = $('#Tablenews').DataTable({
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true,
            stateSave: true,
            columnDefs: [{
                searchable: true,
                orderable: true,
                targets: 0,
            }, {
                searchable: true,
                orderable: true,
                targets: [1, 2],
            }],
            order: [
                [0, 'asc']
            ],
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value="">Pilih</option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d) {
                        select.append('<option value="' + d + '">' + d +
                            '</option>');
                    });
                });
            }
        });

        t.on('order.dt search.dt', function () {
            let i = 1;

            t.cells(null, 0, {
                search: 'applied',
                order: 'applied'
            }).every(function (cell) {
                this.data(i++);
            });
        }).draw();
    });
</script>
{% endblock %}

